body{
  margin: 0;
  background-image: url(https://png.pngtree.com/background/20210712/original/pngtree-nebula-galaxy-cosmos-background-with-star-picture-image_1185191.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}